{% extends 'base.html.twig' %}

{% block body %}

<div class="container md-4">
    <h2>Editer le bien</h2>
    {{ form_start(form) }}
        {{ form_rest(form)}}
        <div class="row">
            <div class="col-md-4">{{form_row(form.title)}}</div>
            <div class="col-md-4">{{form_row(form.description)}}</div>
            <div class="col-md-4">{{form_row(form.price)}}</div>
        </div>
        <button class="btn btn-primary">Editer</button>
    {{ form_end(form) }}
</div>

{% endblock %}