{% extends 'base.html.twig' %}

{% block title 'Admin' %}
{% block body %}

<div class="jumbotron text-center">
    <h1>Admin Lebonfork</h1>
</div>

<div class="container">
    <h2>Gerer les biens</h2>
    {% for message in app.flashes('success') %}
        
    {% endfor %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{product.title}}</td>
                    <td>
                        <a href="{{path('admin.product.edit', {id: product.id})}}" class="btn btn-secondary">Edit</a>
                        <form action="{{ path('admin.product.delete', {id: product.id}) }}" method="post" style="display: inline-block;" onsubmit="return confirm('Êtes-vous sûr ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id )}}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="text-right">
        <a href="{{path('admin.product.new')}}" class="btn btn-secondary">Créer un nouveau bien</a>
    </div>
</div>

{% endblock %}